html, body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: #141414;
}


/* -------------------------------------------------------------------------------------------------------------------------------------*/
/* FUENTES y RESET */

@font-face {
    font-family: "DIN Medium";
    src: url("../fonts/DIN-Medium.ttf");
}

@font-face{
    font-family: "RopaSans";
    src: url("../fonts/RopaSans-Regular.ttf");
}


/* -------------------------------------------------------------------------------------------------------------------------------------*/
/* ENCABEZADO */


nav{
    font-family: "RopaSans";
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}

a{
    color: grey;
    text-decoration: none;
    font-size: 1.25em;
}
a:hover {
    font-weight: bold;
    text-decoration: none;
    color: white;
}

header{
    background-color: rgb(0, 0, 0);
    position: fixed;
    z-index: 10;
}

#logo{
    height: 80px;
    width: 80px;
}

.main-separador{
    width: 100%;
    padding: 0px;
    margin-top: 80px;
}
@media (max-width: 992px){
    .main-separador{
        margin-top: 105px;
        
    }
    
}

/* -------------------------------------------------------------------------------------------------------------------------------------*/
/* CONTENIDO de la PAGINA */

.pagina-actual{
    color: white;
}

#nuevo-modelo{
    background-color: #14213d;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    padding: 0px;
}

#bisofly{
    height: 100%;
}

@media (max-width: 424px){
    #index-body{
        background-color: black;
        ;
    }
}

h2{
    font-family: "RopaSans";
    color: #fca311;
    padding: 20px;
    padding-bottom: 0px;
    font-size: 1.5em;
}

p{
    font-family: "RopaSans";
    color: white;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#productos{
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
@media (max-width: 425px){
    #productos{
        background-image: url(../media/fondo-sm.png);
        background-size: cover;
        ;
    }
}
@media (min-width: 426px) and (max-width: 768px){
    #productos{
        background-image: url(../media/fondo-md.png);
        background-size: cover;
        ;
    }
}
@media (min-width: 769px){
    #productos{
        background-image: url(../media/fondo-lg.png);
        background-size: cover;
        ;
    }
}

#h2-productos{
    font-family: "DIN Medium";
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0px;
    margin: 0px;
    font-size: 3em;
    margin: 20px;
    padding: 5px;
    text-align:center;
}

#main-shop{
    background-color: #14213d;
}

#enlace-shop{
    font-family: "DIN Medium";
    color: #fca311;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 2em;
    margin: 20px;
    padding: 5px;
    text-align:center;
}

#coleccion{
    background-color: #14213d;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    padding: 0px;
}



/* -------------------------------------------------------------------------------------------------------------------------------------*/
/* FOOTER */

footer{
    background-color: rgb(20, 20, 20);
}

.text-footer{
    color:bisque;
    font-family:"RopaSans";
    font-size: 1em;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: rgb(20, 20, 20);
    margin-bottom: 10px;
}

.footer-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 12px;
    background-color: rgb(20, 20, 20);
}

.h2-footer{
    padding: 0px;
    margin-top: 30px;
    background-color: rgb(20, 20, 20);
}

#descripcion-footer{
    margin-bottom: 10px;
}

ul{
    list-style:inside;
}

#help{
    padding-left: 12px;
}

/* -------------------------------------------------------------------------------------------------------------------------------------*/
/* SHOP */



.card{
    font-family: "RopaSans";
    background-color: #14213d;
    color: white;
    border: 0px;
    border-bottom: 10px solid #14213d;
}
.card:hover{
    background-color: #1d315a;
    border-bottom: 10px solid #1d315a;
}


.card-body{
    box-shadow: 0px -20px 20px #1d315a;
    z-index: 2;
}

.colores{
    display: flex;
    flex-direction: row;
    
}

.dorado{
    background-color: #D3A01F;
    height: 30px;
    width: 30px;
    border: 2px solid #ffffff;
    margin-right: 10px;
}

.blanco{
    background-color: #ffffff;
    height: 30px;
    width: 30px;
    border: 2px solid #ffffff;
    margin-right: 10px;
}

.negro{
    background-color: #000000;
    height: 30px;
    width: 30px;
    border: 2px solid #ffffff;
    margin-right: 10px;
}

.carmesi{
    background-color: #6F232E;
    height: 30px;
    width: 30px;
    border: 2px solid #ffffff;
    margin-right: 10px;
}

.celeste{
    background-color: aqua;
    height: 30px;
    width: 30px;
    border: 2px solid #ffffff;
    margin-right: 10px;
}

.azul{
    background-color: #0102FB;
    height: 30px;
    width: 30px;
    border: 2px solid #ffffff;
    margin-right: 10px;
}

.rojo{
    background-color: #FD030F;
    height: 30px;
    width: 30px;
    border: 2px solid #ffffff;
    margin-right: 10px;
}

.violeta{
    background-color: #420A45;
    height: 30px;
    width: 30px;
    border: 2px solid #ffffff;
    margin-right: 10px;
}

.lavanda{
    background-color: #765FAF;
    height: 30px;
    width: 30px;
    border: 2px solid #ffffff;
    margin-right: 10px;
}

.gris{
    background-color: #858991;
    height: 30px;
    width: 30px;
    border: 2px solid #ffffff;
    margin-right: 10px;
}

.naranja{
    background-color: #FD5713;
    height: 30px;
    width: 30px;
    border: 2px solid #ffffff;
    margin-right: 10px;
}

.marron-lodo{
    background-color: #93886E;
    height: 30px;
    width: 30px;
    border: 2px solid #ffffff;
    margin-right: 10px;
}

#shop-logo{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.precio{
    font-family: "RopaSans";
    padding-top: 10px;
    font-size: 1em;
}

#barra-de-busqueda-shop{
    background-color: #14213d;
    padding: 10px;
    display: flex;
}

.barra-busqueda{
    margin-left: auto;
}

.dropdown{
    margin-right: 10px;
}

.dropdown-estilo{
    font-family: "RopaSans";
    background-color: #14213d;
    color: white;
    border: 1px solid rgb(138, 138, 138);
}

.dropdown-estilo-flex{
    display: flex;
    flex-direction: row;
    color:white;
}

.form-control{
    font-family: "RopaSans";
    color: white;
    width: 100%;
    background-color: #14213d;
}

.links-shop{
    font-size: 20px;
}

div.row{
    margin: 0px;
    padding: 0px;
}



main{
    padding: 0px;
    margin: 0px;
    border: 0px;
}


.reset{
    margin: 0px;
    padding: 0px;
}

/* -------------------------------------------------------------------------------------------------------------------------------------*/
/* ABOUT US */

.main-about-us{
    background-color: #14213d;
}

.about-storage{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    padding: 0px;
}

#parrafo-about-us{
    padding: 50px;
    font-size: 1.6em;
}

.h2-about-us{
    padding-bottom: 30px;
    padding-left: 50px;
    font-size: 2.5em;
}

/* -------------------------------------------------------------------------------------------------------------------------------------*/
/* PROGRAM */

input{
    width:100px;
}

input{
    background-color: rgb(12, 12, 12);
    border: 1px solid white;
    border-radius: 2px;
    width: 120px;
}

.form-estilo{
    background-color: rgb(12, 12, 12);
    border-radius: 2px;
    width: 120px;
    color: grey;
}

label{
    color: grey;
}

#submit{
    background-color: rgb(12, 12, 12);
    border-radius: 2px;
    color: grey;
    width: 120px;
    margin-left: 15px;
    margin-top: 20px;
}

#date{
    margin-bottom: 5px;
}

#formulario-pagina{
    font-family: "Ropasans";
    background-color: #14213d;
    padding-left: 50px;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 140px;
}
@media (max-width: 992px){
    #formulario-pagina{
        padding-right: 20px;
        padding-left: 20px;
        
    }
    
}

form{

    border-radius: 0px 0px 10px 10px;
    padding-left: 10px;
    padding-top: 30px;
    padding-bottom: 10px;
    color: white;
    font-family: "RopaSans";
    background-color: rgb(12, 12, 12)  ;
}

#programa-texto{
    background-image: url(../media/court.png);
    border-radius: 10px 10px 0px 0px;
    background-attachment: fixed;
    background-size: cover;
}

.text-form{
    color: #0D6EFD;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* -------------------------------------------------------------------------------------------------------------------------------------*/
/* FIND US */

#mapa{
    background-color: #292929;
}


.main-find-us{
    background-image: url(../media/fondo3.png);
    background-size: cover;
    background-attachment: fixed;
}

.h2-find-us{
    color: #fca311;
    padding: 0px;
    margin: 0px;
    background-color: #111111;
    padding: 5px;
    width: 600px;
    border-radius: 5px 5px 0px 0px;
}




.main-find-us{
    padding-left: 50px;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 80px;
}

.p-find-us{
    color: white;
    text-shadow: 1px 1px 2px grey, 0 0 1em grey, 0 0 0.2em grey;
    font-size: 2em;
}


.resaltado{
    color: #fca311;
    text-shadow: 1px 1px 2px #ad700d, 0 0 1em #ad700d, 0 0 0.2em #ad700d;
}

