html, body {
    max-width: 100%;
    overflow-x: hidden;
}

@font-face {
    font-family: "Poppins SemiBold";
    src: url("../fonts/Poppins-SemiBold.ttf");
}

@font-face {
    font-family: "Poppins Bold";
    src: url("../fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: "Poppins Medium";
    src: url("../fonts/Poppins-Medium.ttf");
}

@font-face {
    font-family: "Poppins Regular";
    src: url("../fonts/Poppins-Regular.ttf");
}

@font-face{
    font-family: "RopaSans Italic";
    src: url("../fonts/RopaSans-Italic.ttf");
}

@font-face{
    font-family: "RopaSans";
    src: url("../fonts/RopaSans-Regular.ttf");
}


*{
    margin: 0px;
    padding: 0px;
}

nav{
    font-family: "RopaSans";
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}

a{
    color: grey;
    text-decoration: none;
    font-size: 1.25em;
}

a:hover {
    font-weight: bold;
    color: white;
}

.pagina-actual{
    color: white;
}



header{
    background-color: rgb(0, 0, 0);
    height: 80px;
    position: fixed;
    z-index: 10;
}








footer{
    background-color: black;
    height: 300px;
}



#logo{
    height: 80px;
    width: 80px;
}

#nuevo-modelo{
    background-color: #14213d;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    padding: 0px;
}

#productos{
    padding: 0px;
}

#contenido{
    
    
}

#coleccion{
    background-color: #14213d;
}

#bisofly{
    height: 100%;
}



body{
    background-image: url(../media/vibrante.png);
    background-size: cover ;
    background-attachment: fixed;
}

#background-header{
    height: 80px;
}
@media (max-width: 768px){
    #background-header{
        height: 110px;
    }
}



h2{
    font-family: "RopaSans";
    color: #fca311;
    padding: 20px;
    padding-bottom: 0px;
    font-size: 1.5em;
}

p{
    font-family: "RopaSans";
    color: white;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
}


