@font-face {
    font-family: "DIN Medium";
    src: url("../fonts/DIN-Medium.ttf");
}

@font-face{
    font-family: "RopaSans";
    src: url("../fonts/RopaSans-Regular.ttf");
}

$din-medium: 'DIN Medium';

$ropasans: 'RopaSans';

$invisible: rgba(0,0,0,0);

$negro: rgb(0, 0, 0);

$negro05: rgba(0, 0, 0, 0.5);

$negro-20: rgb(20, 20, 20);

$negro-14: rgb(14, 14, 14);

$negro-12: rgb(12, 12, 12);

$gris-oscuro: rgb(41, 41, 41) ;

$gris: rgb(128, 128, 128);

$gris: rgb(133, 137, 145);

$lodo: rgb(147, 136, 110);

$bisque: rgb(255, 228, 196);

$blanco: rgb(255, 255, 255);

$naranja: rgb(253, 163, 18);

$dorado: rgb(211, 160, 31);

$mandarina: rgb(253, 87, 19);

$rojo: rgb(253, 3, 15);

$carmesi: rgb(111, 35, 46);

$violeta: rgb(66, 10, 69);

$lavanda: rgb(118, 95, 175);

$navy-oscuro: rgb(20, 33, 61);

$navy: rgb(29, 49, 90);

$navy-claro: rgb(56, 96, 175);

$azul: rgb(1, 2, 251);

$azul-tenue: rgb(13, 110, 253);

$celeste: rgb(0, 255, 255);



