@font-face {
    font-family: "DIN Medium";
    src: url("../fonts/DIN-Medium.ttf");
}

@font-face{
    font-family: "RopaSans";
    src: url("../fonts/RopaSans-Regular.ttf");
}

$din-medium: 'DIN Medium';

$ropasans: 'RopaSans';